.parent{
    background-color: blue;
    border: solid;
    height: 500px;
    width: 250px;
    margin-top: 100px;
    position: relative;
}
.ch{
    background-color: blueviolet;
    height: 200px;
    width: 100px;
    position: absolute;
    top: 20px;
}