.container{
    height: 300px;
    display: grid;
    grid-template-columns: 200px auto auto auto auto;
    grid-template-rows: auto auto;
}
.ch1{
    height: 100vh;
    grid-row-start: 1;
    grid-row-end: 6;
}
.ch2{
    height: 50px;
    grid-column-start: 2;
    grid-column-end: 6;
}
.ch{
    background-color: aqua;
    border: 2px solid;
}