.ch{
    background-color: blueviolet;
    border: 2px solid;
}
.container{
    height: 100vh;
    width: 100px;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 100px 200px;
}
.ch1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.ch2{
    grid-row-start: 1;
    grid-row-end: 4;
}
.ch5{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}
.ch6{
    grid-column-start: 1;
    grid-column-end: 4;
}