html{
    scroll-behavior: smooth ;
}
.noveber{
    display: flex;
    justify-content:space-around;
    background-color: cadetblue;
    align-items: center;
}
.noveber ul{
    display: flex;
    gap: 30px;
}
.noveber ul li a{
    text-decoration: none;
    color: black;
}
.head{
    background-color: brown;
}
p{
    /* word-spacing: 20px;
    letter-spacing: 20px; */
    line-height: 40px;
}