.navbar{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap:30px;
}
.navbar label{
    display: none;
}
#demo:checked~.navbar ul{
    display: block;
}
.navbar label{
    color:lawngreen;
}

@media screen and (max-width: 600px){
    .navbar{
        height: 90px;
    }
    .navbar label{
        display: block;
    }
    .navbar ul{
        display: none;
        margin-top: 170px;
    }
}
    