h1{
    font-size: 60px;
    font-style: italic;
    text-decoration: wavy;
}
.para{
    font-weight: bold;

}
.container{
    background-color: blueviolet;
}
.container h1{
    text-decoration: none;
    font-size: 20px;
     background-color: transparent;
     text-align: left;
}
.container ul li{
    text-decoration: underline;
    text-decoration-color: aqua;
}
.container button{
    background-color:  brown ;
}